.link{
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    font-size: 22px;
    color: rgb(34, 88, 88);
}
.active {
    color: #2196f3;
}
.menu {
    margin: 0;
    display: flex;
    justify-content: left;
    padding-left: 0;
}
.list {
    list-style-type: none;
}